:root{
    --color1:#213F88;
    --color2:#b21602;
    --color3:#E5978D;
    --color4:#B3B3B3;
}

header{

    height: 300px;
    padding-block: 15px;
    background-color: var(--color1);

}

.flex{
    display: flex;
    
}

header > .flex{
    justify-content: space-around;

}

.logo,
.menu,
.button1{
    
    height: 50px;
    width: 50px;
    background-color: var(--color2)
}

.container-text1{
    margin-top: 20px;
    text-align: center;
    height:100px ;
    width: 70%;
    margin: 0 auto;
    background-color: var(--color3);

}

 /* .container-text1 h1{
    height: 50px;
    width: 50px;
    background-color: var(--color2) 
}  */

.container2{
    width: 80%;
    margin: 0 auto;

}

.bkg-gray{
    background-color: var(--color4);

    
}
.flex{
    display: flex;
}
/* main section{
    height: 80px;
    
} */

.flex-basis-small{
    flex-basis: 40%;
    height: 60px;
    
}

.flex-basis-big{
    flex-basis: 40%;
    height: 60px;
}

main section .column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: var(--color1);
    height: 300px;
}

/* footer.flex div{
    flex-basis: calc((100%-25% / 5));
    height: 50px;
    background-color: var(--color1);
    align-items: flex-start;
    
}

footer.flex div:first-child{
    flex-basis: 25%;
  
} */

footer.link-utili{
    height: 50px;
    display: flex;
    
} 
